/*------------------------------------*\
    #BASE.PAGE
\*------------------------------------*/

body {
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: $inuit-base-background-color;
    color: $inuit-base-text-color;
    font-size: $inuit-base-font-size;
    line-height: $inuit-base-line-height;
}

* {
    outline-color: $color-attention;
}
