/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

a{
    color: $color-link;

    &:hover, &:focus{
        color: lighten($color-link, 7);
    }

    &:visited{
        color: darken($color-link, 7);
    }
}

h1, h2, h3, h4, h5, h6{
    color: $color-detail;
}

ul, ol{
    margin-left: halve($inuit-base-spacing-unit);
}

blockquote{
    @extend .ms0;
    padding-left: halve($inuit-base-spacing-unit);
    border-left: 2px solid lighten($inuit-base-text-color, 30);
    font-style: italic;
    color: lighten($inuit-base-text-color, 40);

    &.pullquote{
        @extend %alpha;
        @extend .me;
        padding: 0;
        border: none;
        color: $inuit-base-text-color;

        text-align: center;
    }
}

%code-box{
    background-color: darken($inuit-base-background-color, 3);
    border: 1px solid darken($inuit-base-background-color, 12);
    border-radius: 3px;
}

p{
    > code{
        @extend %code-box;
        font-size: 90%;
        padding: 1.5px quarter($inuit-base-spacing-unit);
    }
}

pre{
    @extend %code-box;

    padding: $inuit-base-spacing-unit / 6;

    font-size: 80%;
    line-height: 1.5;
    -webkit-overflow-scrolling: touch; /* smooth iOS scrolling */

    .p{
        padding: 0 !important;
    }
}