/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.1rem;
}





/**
 * Links
 */

a {
    color: $color-attention;
}





/**
 * List elements
 */

ul, ol {
    margin-left: $spacing-unit--tiny;
}





/**
 * Quotes
 */

blockquote {
    font-style: italic;
    border-left: 4px solid $color-attention;

    padding-top: $spacing-unit--small;
    padding-bottom: $spacing-unit--small;
}

%pullquote,
.pullquote {
    @extend %alpha;

    border-left: 0;

    text-align: center;

    padding-top: $spacing-unit--large;
    padding-bottom: $spacing-unit--large;
}




/**
 * Code
 */

%code-box {
    background-color: darken($inuit-base-background-color, 4);
}

p, li, blockquote {
    > code,
    > a code {
        @extend %code-box;
        font-size: 90%;
        padding: 1.5px quarter($inuit-base-spacing-unit);
    }
}

pre {
    @extend %code-box;

    padding: $inuit-base-spacing-unit / 2;

    /* we do not want too much horizontal scrolling */
    font-size: 68%;
    line-height: 1.5;
    -webkit-overflow-scrolling: touch; /* smooth iOS scrolling */

    /* overwrites inuit .p class */
    .p {
        padding: 0 !important;
    }

    /* code blocks on desk sizes have more columns and can afford bigger fonts */
    @media all and (min-width: $break-palm) {
        font-size: 80%;
    }
}






/**
 * Division element
 */

hr {
    margin: $spacing-unit auto;
    border: 0;
    border-top: 2px solid highlight($color-background, 10);
}





/**
 * Mark element
 */

mark{
    background-color: highlight($color-background, 10);
    padding: 2px 4px;
}





/**
 * Tables
 */

table {
    @extend %table;
    @extend %table--cells;
    text-align: center;

    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* smooth iOS scrolling */

    th,
    td {
        padding: $spacing-unit--tiny $spacing-unit--small;
    }

    tr:nth-child(even) {
        background-color: highlight($color-background, 10);
    }

}
