/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header{
    @extend .pe;

    a{
        color: inherit;
        background-color: transparent;
    }
}

    .header__title{
        @extend .mt0;
        @extend .mb;
        @include span-columns(12);
        @include omega;
        text-align: center;
        font-family: HelveticaNeue, Arial, sans-serif;

        a{
            background-color: transparent;
            text-decoration: none;
        }
    }

    .header__nav{
        @include span-columns(12);
        @include omega;
        text-align: center;
        font-family: HelveticaNeue, Arial, sans-serif;

        .nav {
            @extend .m0;

            li {
                @extend .mr;

                &:last-child {
                    @extend .mr0;
                }
            }
        }
    }

    .header__about{
        @extend .mt;
        @include span-columns(12);
        text-align: center;

        p{
            @extend .mb0;
        }
    }

.header--highlighted{
    background-color: darken($inuit-base-background-color, 4);
}

@media all and (min-width: $max-width){

    .header--floating {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.25);
        color: $color-white;
    }

    .header__title{
        @include span-columns(6);
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        text-align: left;
    }

    .header__nav{
        @include span-columns(6);
        @include omega;
        text-align: right;
    }
}