/*------------------------------------*\
    #NEWSLETTER
\*------------------------------------*/

.newsletter {
    text-align: center;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

    .newsletter__form {
        display: inline-block;
        width: 100%;
    }

        .newsletter__title {
            @extend .kilo;
            margin-top: 0;
            margin-bottom: 0;

            line-height: 1;
        }

        .newsletter__subtitle {
            @extend .delta;
        }

    .newsletter__group {
        padding: $spacing-unit--small;
        display: inline-block;
        text-align: left;
    }

        .newsletter__input {
            margin-left: $spacing-unit--small;
        }

        .newsletter__submit {
            margin-top: $spacing-unit--small;
            width: 270px;
            max-width: 100%;
        }


@media (max-width: $break-desk) {
    .newsletter__group {
        width: 270px;
        max-width: 100%;
        padding: 0;
    }

        .newsletter__input {
            width: 100%;
            margin-left: 0;
        }
}
