/*------------------------------------*\
    #AUTHOR-INFO
\*------------------------------------*/

@media all and (max-width: $max-width){
    .author-info {
        text-align: center;

        .media__img {
            float: none;
            display: inline-block;
            margin-right: 0;
        }
    }
}