/*------------------------------------*\
    #NEWSLETTER
\*------------------------------------*/

.newsletter {
    @extend .pe;
    @extend .ps-;

    text-align: center;
    background-color: $color-lighter-gray;
}

    .newsletter__form {
        display: inline-block;
        width: 100%;
    }

        .newsletter__title {
            @extend .beta;
            @extend .me0;
            line-height: 1;
        }

        .newsletter__subtitle {
            @extend .epsilon;
        }

    .newsletter__group {
        @extend .p-;
        display: inline-block;
        text-align: left;

        @media (max-width: $break-desk) {
            width: 270px;
            max-width: 100%;
            padding: 0 !important;

            .newsletter__input {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .newsletter__input {
        @extend %input;
        margin-left: quarter($inuit-base-spacing-unit);
    }

    .newsletter__submit {
        @extend .mt-;
        width: 270px;
        max-width: 100%;
    }
