/*------------------------------------*\
    #AUTHOR-INFO
\*------------------------------------*/

.author-info {
    text-align: center;

    .media__img {
        float: none;
        display: inline-block;
        margin-right: 0;
    }
}

    .author-info__avatar {
        border-radius: 50%;
    }