/*------------------------------------*\
    #POST
\*------------------------------------*/

.post{

    + .post{
        position: relative;
        padding-top: $inuit-base-spacing-unit;
        margin-top: $inuit-base-spacing-unit;
    }

    /* post specific styles */
    img{
        @extend %wide-element;
        text-align: center;

        /* legend */
        & + small{
            display: block;
            @extend %delta;
            text-align: center;
        }
    }
}

    .post__header {
        text-align: center;
        padding: $inuit-base-spacing-unit;
        padding-top: 0;
    }

    .post__header--single {
        background-color: $color-blue;
        color: $color-white;

        .post__title {
            margin-top: 0;
        }
    }

        .post__title {
            font-size: 40px;
            font-weight: 600;
            line-height: 1.1em;

            a {
                color: inherit;
                text-decoration: inherit;
            }
        }

    .post__content{

        /**
         * [1]: better spacing for headings
         */
        h2, h3, h4, h5, h6{
            @extend .mb0; // [1]
            font-weight: 600;
            line-height: 1.4;
        }

        h2{
            @extend .mt\+; // [1]
            font-size: 35px;
        }
    }

    .post__date {
        text-align: center;
        color: lighten($inuit-base-text-color, 40);
    }

    .post__share{
        text-align: center;
        color: lighten($inuit-base-text-color, 40);
    }

        .post__share__twitter{
            color: $color-twitter-blue;
            background-color: lighten($color-twitter-blue, 32);

            &:hover, &:focus{
                background-color: lighten($color-twitter-blue, 29);
            }
        }

        .post__share__facebook{
            color: $color-facebook-blue;
            background-color: lighten($color-facebook-blue, 50);

            &:hover, &:focus{
                background-color: lighten($color-facebook-blue, 45);
            }
        }

    .post__comments{
        @extend .mb;
        text-align: center;
    }

    .post--footer{
        text-align: center;
        font-style: italic;
        @extend %gamma;
    }

    .read-more{
        @extend .m0;
        text-align: center;

        a {
            @extend .pe-;
            @extend %block-link;
        }
    }



@media all and (min-width: $break-palm){
    .post__header--single {
        .post__title {
            font-size: 60px;
        }
    }
}

@media all and (min-width: $break-desk){
    .post__header--single {
        .post__title {
            font-size: 80px;
        }
    }
}