/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header{
    @extend .pt\+;

    a{
        color: $color-black;
        text-decoration: none;
    }

    @media all and (max-width: $max-width){
        padding-top: halve($inuit-base-spacing-unit) !important;
    }
}

    .header__title{
        @extend .m0;
        font-family: HelveticaNeue, Arial, sans-serif;
        font-size: 4em;
        font-weight: 600;
        text-align: center;
        line-height: 1em;

        a{
            text-decoration: none;
            &:hover, &:focus{
                text-decoration: underline;
            }
        }

        @media all and (max-width: $max-width){
            font-size: 3em;
        }
    }

.site-nav{
    text-align: center;
}