/*------------------------------------*\
    #POST
\*------------------------------------*/

$wide-width: 45em;
$container-padding: $inuit-base-spacing-unit / $inuit-base-font-size / 2 * 1em;
$container-size: $max-width - ($container-padding * 2);
$break-wide-element: $wide-width + ($wide-width - $container-size);

.post{

    + .post{
        position: relative;
        padding-top: $inuit-base-spacing-unit;
        margin-top: $inuit-base-spacing-unit;
    }

    /* post specific styles */
    img{
        text-align: center;
        width: 100%;


        @media all and (min-width: $break-wide-element){
            width: $wide-width;
            margin-left: ($wide-width - $container-size) / -2;
        }

        /* legend */
        & + small{
            display: block;
            @extend %delta;
            text-align: center;
        }
    }

    /* better spacing for headings */
    h2, h3, h4, h5, h6{
        @extend .mt\+;
        @extend .mb-;
        font-weight: 600;
    }

}

    .post__header{
        @extend .pe;
        text-align: center;
        background-color: $color-white;
        color: $color-black;
    }

    .post__header--single{

        .post__title{
            @extend .mt;
            @include inuit-font-size(50px);
        }
    }

        .post__title{
            @extend .me0;
            @include inuit-font-size(50px);
            font-family: HelveticaNeue, Arial, sans-serif;
            line-height: 1.1;
            font-weight: 400;

            transition: font-size .5s;

            a{
                color: $color-black;
                @extend %block-link;
                text-decoration: none;

                &:hover, &:focus{
                    text-decoration: underline;
                }
            }
        }

        .post__info{
            display: block;
            color: darken($color-white, 25);
        }

    .post__share{
        text-align: center;
        color: lighten($inuit-base-text-color, 40);
    }

    .post__comments{
        @extend .mb;
        text-align: center;
    }

    .post--footer{
        text-align: center;
        font-style: italic;
        @extend %gamma;
    }

    .read-more{
        @extend .m0;
        text-align: center;

        a {
            @extend .pe-;
            @extend %block-link;
        }
    }

@media all and (min-width: $max-width){
    .post__header--single{
        padding-top: double($inuit-base-spacing-unit) !important;
        padding-bottom: double($inuit-base-spacing-unit) !important;

        .post__title{
            @include inuit-font-size(80px);
        }
    }
}

@media all and (min-width: $max-width * 1.7){
    .post__header--single{
        .post__title{
            @include inuit-font-size(100px);
        }
    }
}