/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

@import "components.content-post";

body{
    font-family: "Georgia", serif;
    background-color: $inuit-base-background-color;
    color: $inuit-base-text-color;
    font-size: $inuit-base-font-size;
    line-height: $inuit-base-line-height;
}

*{
    outline-color: $color-detail;
}

.container{
    @include outer-container;
    @include pad(0px halve($inuit-base-spacing-unit));
}

