/*------------------------------------*\
    #COMPONENTS.CONTENT
\*------------------------------------*/

.content {

    word-wrap: break-word;

    /**
     * [1]: better spacing for headings
     */
    h2, h3, h4, h5, h6 {
        @extend %element;

        margin-bottom: 0; // [1]
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: -0.1rem;
    }

    h2 {
        margin-top: double($inuit-base-spacing-unit); // [1]
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }

    /* post specific styles */
    img {
        width: 100%;
        height: auto;
        text-align: center;

        /* legend */
        & + small {
            @extend %delta;

            display: block;
            text-align: center;
        }
    }

    p, ul, ol, blockquote, .highlight, table, hr {
        @extend %element;
        line-height: 1.7em;
    }

    hr {
        display: block;
        max-width: 150px;
    }

    table {
        @extend %element--wide;
    }

    ul, ol {
        padding-left: $spacing-unit--huge;
    }

}
