/*------------------------------------*\
    #COMPONENTS.POST
\*------------------------------------*/

.post {
    padding-top: 0;
}

    .post__title {
        margin-top: 0;
        margin-bottom: 0;

        line-height: 1.3;
        text-align: center;

        a {
            @extend %link--clean;

            &:hover, &:focus, &:active {
                color: $color-attention;
            }
        }
    }

    .post__category {
        margin-top: $spacing-unit--small;
        text-align: center;

        a {
            @extend %link--clean;
            @extend %delta;

            padding: 0px $spacing-unit--small halve($spacing-unit--tiny);
            border-radius: 100px;
            border: 2px solid;
            line-height: 0.9;
            color: lighten($color-text, 50);

            &:hover, &:focus, &:active {
                color: $color-attention;
            }
        }
    }


@media all and (min-width: $content-width * 0.7) {
    .post__title {
        font-size: 35px;
    }
}

@media all and (min-width: $content-width) {
    .post__title--single {
        font-size: 55px;
    }
}
