/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header{
    @extend .pe;
    text-align: center;
    background-color: $color-blue;
    color: $color-white;

    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;

    a{
        color: inherit;
        background-color: transparent;
    }
}

    .header__avatar {
        border-radius: 50%;
    }

    .header__title,
    .header__byline {
        line-height: 1.1em;
    }

    .header__title {
        margin-top: halve($inuit-base-spacing-unit);
        margin-bottom: $inuit-base-spacing-unit;
        font-weight: 600;
        font-size: 40px;

        a {
            text-decoration: none;
        }
    }

    .header__byline {
        font-weight: 400;
        margin-top: 0;
        font-size: 28px;
    }


@media all and (min-width: $break-desk){
    .header__title,
    .header__byline {
        font-size: 60px;
    }
}