/*------------------------------------*\
    #POST
\*------------------------------------*/

.post{
    margin-top: $inuit-base-spacing-unit * 1.5;

    + .post{
        position: relative;
        padding-top: $inuit-base-spacing-unit * 3;
        margin-top: $inuit-base-spacing-unit;
    }

    /* post specific styles */
    img{
        text-align: center;
        width: 100%;
        $photo-width: 45em;
        @media all and (min-width: $photo-width + ($photo-width - $max-width)){
            width: $photo-width;
            margin-left: (($photo-width - $max-width) / -2) - .5em;
        }

        /* legend */
        & + small{
            display: block;
            @extend %delta;
            text-align: center;
        }
    }

    /* better spacing for headings */
    h2, h3, h4, h5, h6{
        @extend .mt\+;
        @extend .mb-;
        font-weight: 600;
    }

}

    .post__header{
        text-align: center;
    }

        .post__title{
            @extend .me0;
            font-family: HelveticaNeue, Arial, sans-serif;
            line-height: 1.1;
            font-weight: 400;

            @media all and (min-width: $max-width * 1.6 ){
                @include inuit-font-size($inuit-heading-size-1 * 1.5);
            }

            a{
                @extend %block-link;
                text-decoration: none;

                &:hover, &:focus{
                    text-decoration: underline;
                }
            }
        }

        .post__info{
            @extend .mt;
            color: lighten($inuit-base-text-color, 40);
        }

    .post__content{
        @extend .mt;
    }

    .post__share{
        text-align: center;
        color: lighten($inuit-base-text-color, 40);
    }

    .post__comments{
        text-align: center;
    }

    .post--footer{
        text-align: center;
        font-style: italic;
        @extend %gamma;
    }

    .read-more{
        @extend .m0;
        text-align: center;

        a {
            @extend .pe-;
            @extend %block-link;
        }
    }