/*------------------------------------*\
    #NAV--TABS
\*------------------------------------*/

.nav--tabs{
    a{
        background-color: transparent;

        &.active{
            background-color: $color-link-bg;
        }

        &:hover, &:focus, &:active{
            color: highlight($color-link-text, 100);
            background-color: highlight($color-link-bg, 100);
        }
    }


    li + li{
        margin-left: halve($inuit-base-spacing-unit);
    }
}