/*------------------------------------*\
    #WIDE-ELEMENT
\*------------------------------------*/

$wide-width: 48em;
$container-padding: $inuit-base-spacing-unit / $inuit-base-font-size / 2 * 1em !default;
$container-size: $max-width - ($container-padding * 2) !default;
$break-wide-element: $wide-width + ($wide-width - $container-size) + 5em !default;


.wide-element,
%wide-element{
    width: 100%;

}

@media all and (min-width: $break-wide-element){
    .wide-element,
    %wide-element{
        width: $wide-width;
        margin-left: ($wide-width - $container-size) / -2;
    }
}