/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * A simple button
 */

.button,
%button {
    text-decoration: none;

    color: highlight($color-attention, 100);
    background-color: $color-attention;
    border: 2px solid $color-attention;
    padding: $spacing-unit--small $spacing-unit;

    @include attention {
        background-color: highlight($color-attention, 20);
        border-color: highlight($color-attention, 20);
    }
}





/**
 * Button used for secondary actions, such as "cancel" or "ignore"
 */

.button--secondary,
%button--secondary {
    background-color: transparent;
    color: $color-attention;

    @include attention {
        color: highlight($color-attention, 100);
    }
}
