/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$color-black: lighten(#000, 15);
$color-white: #fff;
$color-gray:  #979797;
$color-light-gray: #d8d8d8;
$color-lighter-gray: #efefef;
$color-light-blue: #3778bf;

$color-text: $color-black;
$color-detail: $color-black;
$color-highlight-bg: $color-lighter-gray;
$color-background: $color-white;

$color-link: $color-light-blue;
$color-link-text: $color-light-blue;
$color-link-bg: lighten($color-light-blue, 48);

$color-button-text: $color-white;
$color-button-bg: $color-light-blue;

$inuit-base-text-color: $color-text;
$inuit-base-background-color: $color-background;