/*------------------------------------*\
    #DEFAULTS
\*------------------------------------*/

$inuit-base-font-size: 19px;
$inuit-base-line-height: 28px;

$inuit-enable-margins: true;
$inuit-enable-margins--none: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--small: true;

$inuit-enable-paddings:      true;
$inuit-enable-paddings--small:      true;
