/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$color-black: #000;
$color-white: #fff;
$color-gray:  #979797;
$color-light-gray: #d8d8d8;
$color-lighter-gray: #efefef;
$color-light-blue: #3778bf;

$color-text: $color-black;
$color-detail: $color-black;
$color-highlight-bg: $color-lighter-gray;
$color-background: $color-white;

$color-link: $color-black;
$color-link-text: $color-text;
$color-link-bg: $color-highlight-bg;

$color-button-text: highlight($color-link-text, 100);
$color-button-bg: highlight($color-link-bg, 100);

$inuit-base-text-color: $color-text;
$inuit-base-background-color: $color-background;