@import "../../_bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../_bower_components/neat/app/assets/stylesheets/neat";
@import "../defaults/vars";

/*/////////// GENERIC ///////////*/
.middle{
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    margin: 1.333em auto;
    text-align: center;
    padding: 0 .625em;
}

.blog-post{
    margin: 1.25em 0 2.5em;
    padding: 1em 0;
    text-decoration: none;

    a{
        color: $main-font-color;
        font-weight: 500;
    }

    .blog-post__link{
        text-decoration: none;

        &:hover .blog-post__title{
            text-decoration: underline;
        }

    }
    
    .blog-post__title{
        color: $main-font-color;
        margin: 0;
        line-height: 1.2em;
    }

    .blog-post__meta{
        color: lighten($main-font-color, 30);   
    }
}

.post-content{
    text-align: left;
    font-size: 1.3em
}

/*/////////// POSTS ///////////*/

.highlight{
    max-height: 30em;
    overflow: scroll;
    -webkit-touch-scrolling: scroll;
}

@media only screen and (max-width: $middle-breakpoint) {
    body{
        font-size: 80%;
    }
    .blog-post{
        padding: 1em 0;
    }
}