@import "../../_bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../_bower_components/neat/app/assets/stylesheets/neat";
@import "../defaults/vars";

/*/////////// GENERIC ///////////*/
.middle{
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.section-divisor{
    width: 40%;
    border: none;
    border-top: 1px solid $main-font-color;
}

.main-content{
    margin: 1.333em auto;
    text-align: center;
    padding: 0 .625em;
    @include animation(fadeInUp .7s ease-in-out);
}

.blog-post{
    margin: 1.25em 0 2.5em;
    padding: 1em 0;
    text-decoration: none;

    a{
        color: $secondary-font-color;
        font-weight: 500;

        &:focus, &:hover{
            color: lighten($secondary-font-color, 10);
        }

        &:visited{
            color: darken($secondary-font-color, 15);
        }
    }

    .blog-post__link{
        text-decoration: none;


        &:hover .blog-post__title{
            text-decoration: underline;
        }

    }
    
    .blog-post__title{
        color: $secondary-font-color;
        font-weight: 400;
        margin: 0;
        line-height: 1.2em;
    }

    .blog-post__meta{
        color: lighten($main-font-color, 30);
    }
}


/*/////////// POSTS ///////////*/

.post-content{
    margin-top: 2em;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5em;

    p code{
        padding: .3em;
        background-color: darken($main-bg-color, 1);
        border: 1px solid darken($main-bg-color, 10);
        border-radius: 3px;
    }

    .highlighttable{
        display: block;
        max-height: 30em;
        width: 100%;
        overflow: scroll;
        -webkit-touch-scrolling: scroll;
        border: 1px solid darken($main-bg-color, 10);

        font-size: .9em;
        line-height: 1.1em;

        -webkit-text-size-adjust: 100%;

        pre{
            margin: 0;
        }

        .linenos{
            padding-right: .2em;
            border-right: 1px solid darken($main-bg-color, 10);
            color: darken($main-bg-color, 25);
            @include user-select(none);
        }
    }
}

/*/////////// PREVIOUS POSTS ///////////*/

.previous-post{
    font-size: 85%;
    margin-top: 4.625em;
    color: lighten($main-font-color, 30);


    .previous-post__title{
        font-size: 1em;
        font-weight: 400;
    }
}

@media only screen and (max-width: $middle-breakpoint) {
    body{
        font-size: 90%;
    }

    .blog-post{
        padding: 1.2em 0;
    }
}