@import "../defaults/vars";

.content-footer{
    width: 100%;
    padding: 2em;
    background-color: $footer-bg-color;
    color: $footer-font-color;
    text-align: center;

    a{
        color: $footer-font-color;
    }
    
    .footer__text{
        display: block;
    }

    .footer__social{
        margin-top: 15px;
    }

    @include one-side-inset-shadow();
    
}