/*///////////////////////

    $COLORS

///////////////////////*/

$main-bg-color: #fff;
$secondary-bg-color: #ccc;

$main-font-color: #333;
$secondary-font-color: #aaa;

/*/////////// HEADER ///////////*/

$header-bg-color: #aaa;
$header-font-color: #fff;