/*///////////////////////

    $COLORS

///////////////////////*/

$main-bg-color: #fff;
$secondary-bg-color: #ccc;

$main-font-color: #000;
$secondary-font-color: #aaa;

/*/////////// HEADER ///////////*/

$header-bg-color: #F8CA00;
$header-font-color: #000;

/*/////////// FOOTER ///////////*/

$footer-bg-color: #333;
$footer-font-color: #aaa;