/*///////////////////////

    $COLORS

///////////////////////*/

$main-bg-color: #fff;
$secondary-bg-color: #ccc;

$main-font-color: #000;
$secondary-font-color: #aaa;

/*/////////// HEADER ///////////*/

$header-bg-color: #15a0ca;
$header-font-color: #fff;

/*/////////// FOOTER ///////////*/

$footer-bg-color: #fff;
$footer-font-color: #000;