/*///////////////////////

    $FONTS

///////////////////////*/

$giga-size:         6em !default;
$mega-size:         4.5em !default;
$kilo-size:         3em !default;

$h1-size:           2.25em !default; // .alpha
$h2-size:           1.875em !default; // .beta
$h3-size:           1.5em !default; // .gamma
$h4-size:           1.25em !default; // .delta
$h5-size:           1em !default; // .epsilon
$h6-size:           0.875em !default; // .zeta

$milli-size:        0.75em !default;
$micro-size:        0.625em !default;

$base-font-size:    1.125em !default;