{% if page.featured-image %}
<header class="post__header post__header--single post__header--image" style="background-image: url({{ site.baseurl }}{{ page.featured-image }});">
{% else %}
<header class="post__header post__header--single">
{% endif %}

    <h1 class="post__title">{{ page.title }}</h1>

    <small class="post__info">
        <span class="post__reading-time">Leia em {% if page.reading_time %}{{ page.reading_time }}{% else %}{{ page.content | reading_time }}{% endif %}</span>
    </small>

</header>