{% if page.featured-image %}
<header class="post__header post__header--single post__header--image" style="background-image: url({{ site.baseurl }}{{ page.featured-image }});">
{% else %}
<header class="post__header post__header--single">
{% endif %}

    <h1 class="post__title"><a href="{{ page.url }}">{{ page.title }}</a></h1>

    <small class="post__info">
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d/%m/%Y" }}</time> • <span class="post__reading-time">Leia em {% if page.reading_time %}{{ page.reading_time }}{% else %}{{ page.content | reading_time }}{% endif %}</span>
    </small>

</header>