@import "../../defaults";
@import "../../base/mixins";

/**
  * $ALIGMENTS
  *
  * Text alignment
  */





/**
  * $HORIZONTAL
  */

.text--left{
    text-align: left;
}

.text--center{
    text-align: center;
}

.text--right{
    text-align: right;
}





/**
  * $VERTICAL
  */

.text--top{
    vertical-align: top;
}

.text--middle{
    vertical-align: middle;
}

.text--baseline{
    vertical-align: baseline
}

.text--bottom{
    vertical-align: bottom;
}