@import "../_bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "defaults/vars";

/*/////////// MODULES ///////////*/
@import "defaults/font-face";
@import "defaults/font-classes";
@import "defaults/icons";
@import "defaults/keyframes";

html, body{
    margin: 0;
    padding: 0;
}

body{
    font-size: $base-font-size;
    font-family: OpenSans, sans-serif;
    color: $main-font-color;
    background-color: $main-bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*/////////// ELEMENTS ///////////*/

@import "elements/header";
@import "elements/content";
@import "elements/footer";