/*/////////// $DEFAULTS ///////////*/
// @import "defaults/vars";

/*/////////// $FRAMEWORKS ///////////*/
@import "../_bower_components/bourbon/app/assets/stylesheets/bourbon";

/*/////////// $USEFUL.CSS-COMPONENTS ///////////*/
@import "useful.css/useful.css";
@import "useful.css/components/typo";

html, body{
    margin: 0;
    padding: 0;
}

$main-font-color: black;
$main-bg-color: white;

body{
    font-size: $base-font-size;
    font-family: OpenSans, sans-serif;
    color: $main-font-color;
    background-color: $main-bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}