@import "../_bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "defaults/vars";

/*/////////// MODULES ///////////*/
@import "defaults/font-face";
@import "defaults/font-classes";
@import "defaults/icons";
@import "defaults/keyframes";

html, body{
    margin: 0;
    padding: 0;
}

body{
    font-size: $base-font-size;
    font-family: NotoSans, sans-serif;
    color: $main-font-color;
    background-color: $main-bg-color;
}

/*/////////// ELEMENTS ///////////*/

@import "elements/header";
@import "elements/content";
@import "elements/footer";